<p>login works!</p>

<form nz-form class="login-form" [formGroup]="form"  (ngSubmit)="onClickLogin()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor ingrese su usuario">
        <nz-input-group nzPrefixIcon="user">
          <input type="email" nz-input formControlName="email" placeholder="a@dominio.com" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor ingrese su contraseña">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Contraseña"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="Recuerdame">
          <span>¿Recordar inicio de secion?</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Olvide mi contraseña</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">¿Iniciar secion?</button>
    <button (click)="onClickLoginGoogle()" class="login-form-button login-form-margin" type="button">
        <span nz-icon nzType="google" nzTheme="outline"></span>
        ¿Iniciar secion con Google?
    </button>
   
    Or
    <a routerLink="/register">registrar ahora</a>
  </form>