<p>register works!</p>
<form nz-form  [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Esta mal en algo.. En algo ni modo">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Contraseña</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese su contraseña">
        <input
        (ngModelChange)="updateConfirmValidator()"
          nz-input
          type="password"
          id="password"
          formControlName="password"
         
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>Confirme la contraseña</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="confirmkPassword" />
        <ng-template #errorTpl let-control>
          @if (control.errors?.['required']) {
            Por favor ingrese su contraseña de Confirmacion
          }
          @if (control.errors?.['confirm']) {
            las contraseñas no coinciden
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="nickname"
        nzRequired
        nzTooltipTitle="What do you want other to call you"
      >
        <span>Nickname</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Como te gustaria que te llamen ">
        <input nz-input id="nickname" formControlName="nickname" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Celular</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        
        nzErrorTip="Por favor ingrese su numero">
      <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
          
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="agree">
          <span>
            Eh Leido los
            <a>Terminos y Condiciones</a>
          </span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button (click)="onClickRegister()" nz-button nzType="primary">Register</button>
      </nz-form-control>
    
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button (click)="onClickRegisterGoogle()" class="login-form-button login-form-margin" type="button">
          <span nz-icon nzType="google" nzTheme="outline"></span>
          Registrarme con Google
      </button>
      </nz-form-control>
    </nz-form-item>
    
  </form>